.navbar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: black;
    align-items: center;
    color:white;
}

.navbar button{

    background-color: white;
    height: 80%;
    padding: 10px;
}
.about{
    display: flex;
    
    padding: 40px;
    flex-direction: column;
    align-items: center;
    
}
#addAlbum{
    padding: 10px;
    width: 40%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.users{
   
   
   background-color: whitesmoke; 
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   
  

}
.user{
    border: 3px solid black;
    width:200px;
    border-radius: 5px;
    margin: 15px;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:10px;
    
}
.user-image{
    
    width: 100%;
   
    text-align: center;
}
.user img{
    width: 80%;
}

.user button{
    padding: 8px solid black;
    color: white;
    background-color: black;
    border-radius: 3px;
    cursor: pointer;
}